#underliner {
    height: 3px;
    width: 333.8px;

    margin-left: 555px;
    background-color: black;
}

#main {
    height: 700px;
}

#main > * {
    margin-left: 15px;
    margin-top: 15px;
}

#main > h1 {
    font-size: 36px;
}

#overview {
    border-radius: 15px;
    border: 3px solid #bababa;
}

#fullText {
    width: 1040px;
}
.textThin {
    text-align: justify;
    font-size: 24px;
    font-weight: 300;
}