#underliner {
    height: 3px;
    width: 333.8px;

    margin-left: 555px;
    background-color: black;
}

#main {
    height: 1020px;
}

#main > * {
    margin-top: 15px;
}

#main > h1 {
    font-size: 36px;
}

#overview {
    border-radius: 15px;
    border: 3px solid #bababa;
}

#fullText {
    width: 1040px;
}
.textThin {
    text-align: justify;
    font-size: 24px;
    font-weight: 300;
}

#download {
    padding-top: 20px;
    font-size: 24px;
}

#download > u > a {
    color: blue;
    margin-left: 25px;
}

#main > #images > img {
    height: 285px;
    width: 506px;

    margin: 7px;

    border-radius: 15px;
    border: 3px solid #bababa;
}